@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gruppo&display=swap");
@import "../node_modules/remixicon/fonts/remixicon.css";
:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --logo-font: "Gruppo", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("assets/Images/mainBackground.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(8, 43, 109, 0.5);
  font-family: var(--font-family);
  width: 100%;
  position: relative;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
