<app-header></app-header>

<section class="main-section">
  <div class="container-1">
    <h1>Latest releases</h1>
    <hr />
    <p>
      This is The Record Store Map - the best place to find record stores near
      you and around the world. If you see something is wrong, missing or not
      working - please get in contact. <br />
      We offer items with good prices and the latest titles at a discount, so we
      recommend that you do not miss the availability of the records of your
      favorite authors. <br />
      Discover our collection of signed and limited edition releases, as well as
      Recordstore exclusives you won't find anywhere else - including releases
      from Eric Clapton, Vinnie Moore, Metallica, Avenged Sevenfold, Joe
      Bonamasa, Sliplknot, Steve Lukather and loads more! <br />
      We also work with labels, artists and management year-round to come up
      with the releases that help make Record Store Day special. If you've got
      some thoughts on records you'd like to see on the List -- either special
      things that haven't been on vinyl, reissues you'd love to see on vinyl
      and/or CD, or ideas for other titles, please let us know below. No
      promises, but we'd love to add your thoughts and requests to the mix!
    </p>
  </div>
  <div class="container-2">
    <div class="img-1">
      <div class="details-1">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $140</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-2">
      <div class="details-2">
        <h1>Patient Number 9</h1>
        <p>Author: Ozzy Osbourne</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $190</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-3">
      <div class="details-3">
        <h1>4</h1>
        <p>Author: Slash</p>
        <p>Genre: Hard Rock</p>
        <p>Price: $112</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-4">
      <div class="details-4">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-5">
      <div class="details-5">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-6">
      <div class="details-6">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-7">
      <div class="details-7">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-8">
      <div class="details-8">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-9">
      <div class="details-9">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-10">
      <div class="details-10">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-11">
      <div class="details-11">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-12">
      <div class="details-12">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-13">
      <div class="details-13">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-14">
      <div class="details-14">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-15">
      <div class="details-15">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-16">
      <div class="details-16">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-17">
      <div class="details-17">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-18">
      <div class="details-18">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-19">
      <div class="details-19">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-20">
      <div class="details-20">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-21">
      <div class="details-21">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-22">
      <div class="details-22">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-23">
      <div class="details-23">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
    <div class="img-24">
      <div class="details-24">
        <h1>Planet Zero</h1>
        <p>Author: Shinedown</p>
        <p>Genre: Heavy Metal</p>
        <p>Price: $235</p>
        <button type="button"><i class="ri-more-2-fill"></i> MORE</button>
      </div>
    </div>
  </div>
</section>

<section class="section-two">
  <div>
    <h1>
      We are also sell clothing with logos of your favorite bands, men's and
      woman's jewerly and much more.
    </h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      laborum culpa dolore! Exercitationem odit sed vel a quis consectetur
      commodi in dolore, minima recusandae doloremque quasi eius quod voluptas
      non similique quam perferendis, numquam placeat illo minus deserunt natus
      pariatur? Cupiditate minus illum odit ipsum aut. Nam, quos vitae laborum
      fugit facilis repudiandae iusto enim iste odit dolore. Ipsa, mollitia.
    </p>
  </div>
</section>

<section class="contact-section">
  <div class="caption-cnt">
    <h1>Contact Us</h1>
    <div></div>
    <p>
      If you have any questions please don't hesitate to contact us. We will do
      our best to respond as soon as possible.
    </p>
  </div>
  <div class="info-cnt">
    <div class="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 20"
        width="60px"
        height="60px"
        fill="#ffffff00"
        stroke="#222831"
      >
        <path
          d="M15 4.58146V11.9999C15 13.6568 13.6569 14.9999 12 14.9999C10.3431 14.9999 9 13.6568 9 11.9999C9 10.3431 10.3431 8.99994 12 8.99994C12.3506 8.99994 12.6872 9.0601 13 9.17065V2.04932C18.0533 2.55104 22 6.81459 22 11.9999C22 17.5228 17.5228 21.9999 12 21.9999C6.47715 21.9999 2 17.5228 2 11.9999C2 6.81459 5.94668 2.55104 11 2.04932V4.06184C7.05369 4.55393 4 7.92032 4 11.9999C4 16.4182 7.58172 19.9999 12 19.9999C16.4183 19.9999 20 16.4182 20 11.9999C20 8.64256 17.9318 5.76823 15 4.58146Z"
        ></path>
      </svg>
      <h1>Axl Store</h1>
    </div>
    <div class="info">
      <h3>GROUND FLOOR STORE</h3>
      <p>Krajiska 14, 21410, Futog, Serbia</p>
      <p>Phone: +381647702290</p>
      <p>Email: axlstore@gmail.com</p>
      <p>MONDAY: 7am - 10pm</p>
      <p>SATURDAY: 8am - 10pm</p>
      <p>SUNDAY:-</p>
    </div>
  </div>
  <div class="sendmsg-cnt">
    <form>
      <div>
        <input type="text" id="" placeholder="This field is required" />
        <label for="">Fullname*</label>
      </div>

      <div>
        <input type="email" id="" placeholder="This field is required" />
        <label for="">Email*</label>
      </div>

      <div>
        <input type="number" id="" />
        <label for="">Phone number</label>
      </div>

      <div>
        <textarea id="" cols="30" rows="10"></textarea>
        <label for="">Message</label>
      </div>

      <button type="button">Send Message</button>
    </form>
  </div>
</section>

<section class="last-section">
  <div class="lastsec-row-1">
    <h1>Listen To Music With Vintage Vinyls</h1>
    <p>
      There is also a room for all those nostalgic for the raw vintage sound.
    </p>
    <button type="button">SHOP VINTAGE VINYLS AND RECORDS</button>
  </div>
  <div class="lastsec-row-2"></div>
</section>
